@media (max-width: 1024px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 570px) {
    .header__nav-menu {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: black;
        backdrop-filter: blur(5px);
        transition: 0.3s ease-in-out;
    }

    .header__menu-active {
        transition: 0.3s ease-in-out;
        left: 0;
    }

    .header__menu-link>a {
        color: white;
    }

    .header__link-active>a {
        color: gray;
    }

    .header__burger {
        display: block;
        display: flex;
    }

    .home__container {
        flex-direction: column;

    }

    .home__block-text {
        text-align: center;
    }

    .home__block-image {
        justify-content: center;
    }

    .home__myPhoto {
        height: 250px;
    }
}

@media (max-width: 480px) {}

@media (max-width: 320px) {}