.skills{
    width: 100%;
    padding: 50px 0;
    &__container{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__skills-text{
        padding: 30px;
        text-align: center;
    }
    &__block-text{
        line-height: 220%;
    }
}