* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@import "header";
@import "home";
@import "about";
@import "skills";
@import "portfolio";
@import "contact";
@import "media";
